.leftcard {
    text-align: center;
    display: flex;
    flex-direction: row !important;
    height: 150px;
}

.leftcard h1 {
    font-weight: 400;
    font-size: 1.5rem;
}

.leftcard div {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 1rem;
    /* border-radius: 0.5rem; */
    width: fit-content;
    /* justify-content: space-between; */
}

.leftcard img {
    /* border-radius: 0.5rem; */
    margin-bottom: 1rem;
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.leftcard div h2 {
    font-size: 1rem;
    font-weight: 400;
}

.leftcard div p {
    font-size: 0.8rem;
    font-weight: 400;
}

.topcard {
    width: 100%;
}

.topcard h1 {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.3;
}

.topcard img {
    /* border-radius: 0.5rem; */
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: gray;
}

.topcard div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.25rem;
    width: fit-content;
}

.topcard div h2 {
    font-size: 1rem;
    font-weight: 400;
}

.topcard div p {
    font-size: 0.8rem;
    font-weight: 400;
}
