.leftcard {
    text-align: center;
    display: flex;
    flex-direction: row !important;
    height: 150px;
}

.leftcard h1 {
    font-weight: 400;
    font-size: 1.5rem;
}

.leftcard div {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 1rem;
    /* border-radius: 0.5rem; */
    width: fit-content;
    /* justify-content: space-between; */
}

.leftcard img {
    /* border-radius: 0.5rem; */
    margin-bottom: 1rem;
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.leftcard div h2 {
    font-size: 1rem;
    font-weight: 400;
}

.leftcard div p {
    font-size: 0.9rem;
    font-weight: 400;
}

.topcard {
    width: 100%;
}

.topcard h1 {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.3;
}

.topcard img {
    /* border-radius: 0.5rem; */
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: gray;
}

.topcard div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.25rem;
    width: fit-content;
}

.topcard div h2 {
    font-size: 1rem;
    font-weight: 400;
}

.topcard div p {
    font-size: 0.8rem;
    font-weight: 400;
}

.listcard {
    background: #efefef;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    min-height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listcard img {
    height: 208px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.listcard > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.25rem;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
}

.listcard div h1 {
    color: #1f1f1f !important;
    font-family: Sorts Mill Goudy !important;
    font-weight: 550;
    text-align: center;
    font-size: 1.75rem;
}

.listcard .meta {
    gap: 0.25rem;
    font-size: 0.88rem;
}

@media screen and (max-width: 600px) {
    .listcard {
        flex-direction: column;
    }

    .listcard img {
        width: 100%;
        height: fit-content;
    }

    .leftcard {
        flex-direction: column;
        height: fit-content;
    }

    .leftcard div p {
        content: none;
    }
}