.menu {
    border: black solid;
    /* border-width: 1px 0 1px 0; */
    border-width: 0 0 1px 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    /* padding: 10px 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.1rem;
}

.menu ul {
    position: absolute; /* Remove the <ul> from the document flow */
    left: 50%;
    transform: translateX(-50%);
    display: flex; /* Flexbox for the links inside the <ul> */
    gap: 1rem; /* Spacing between links */
    list-style: none; /* Remove list styling */
    margin: 0;
    padding: 0;
    white-space: nowrap; /* Prevent wrapping */
    background-color: white;
    z-index: 2;
}

.menu > div {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.menu > a {
    cursor: pointer;
    width: calc(100vw - 4rem) !important;
    max-width: 800px;
}

.banner {
    margin: 0;
    width: calc(100vw - 4rem) !important;
    max-width: 800px;
    aspect-ratio: 8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--cormorant-garamond);
    z-index: 10;
    position: relative;
    width: 100%;
}

.visible {
    width: fit-content;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown:hover .dropdownlinks {
    visibility: visible;
    display: inline-block;
}

.dropdown > a {
    padding-bottom: 11px;
    bottom: -11px;
}

.dropdownlinks:hover .dropdownlinks {
    visibility: visible;
    display: inline-block;
}

.dropdownlinks {
    visibility: hidden;
    position: absolute;
    left: -10px;
    margin-top: calc(1.25 * 1.1rem + 11px);
    line-height: 1.6;
    z-index: -2;
    padding: 5px 10px;
    background-color: white;
}

.dropdownlinks a {
    display: block;
}

.openarrow {
    border-top: 2px solid black;
    border-right: 2px solid black;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.closearrow {
    border-top: 2px solid black;
    border-right: 2px solid black;
    width: 10px;
    height: 10px;
    transform: rotate(-135deg);
    z-index: 0;
}

.openbutton {
    background: none;
    border: none;
    z-index: 0;
}

.closebutton {
    background: none;
    border: none;
    z-index: 0;
    height: 1rem;
    padding: 2rem;
}

@media (max-width: 900px) {
    .linkscontainer {
        width: 100%;
        max-width: 400px;
        position: fixed;
        top: 0;
        z-index: 10;
        /* left: -100vw; */
        height: 100vh;
        background-color: white;
        flex-direction: column;
        justify-content: start !important;
    }

    .linkscontainer ul {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding: 2rem;
        padding-top: 0;
        width: 100%;
        margin-left: 0;
        position: relative;
    }

    .dropdown .dropdownlinks {
        left: 0;
        visibility: visible;
        position: relative;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .dropdown > a {
        position: relative;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
    }

    .nondropdown {
        padding-left: 1rem;
    }

    .dropdownlinks {
        z-index: 11;
    }

    .dropdownlinks a {
        cursor: pointer;
    }

    .menu .infocontainer div {
        display: flex;
        gap: 1rem;
    }
}