.page {
  z-index: 0;
}

.carousel {
  position: relative;
  height: 233px;
  margin-bottom: 30px;
  display: flex;
  width: fit-content;
  gap: 20px;
}

.carousel img {
  margin: 0px 0px;
  /* box-shadow: 2px 2px 8px #8a8a8a; */
}

.carousel {
  animation: bannermove 5s linear infinite;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(var(--home-gap)*2);
}

.leftcol {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--home-gap)*2);
}

.rightcol:before {
  content: '';
  height: 100%;
  position: absolute;
  left: calc(-1 * var(--home-gap) - 0.5px);
  bottom: 0;
  border-left: 1px solid var(--gray-accent);
}

.rightcol {
  grid-column-start: 3;
  grid-column-end: 4;
  display: grid;
  gap: var(--home-gap);
  grid-template-columns: 1fr;
  position: relative;
}

.body > .leftcol > div, .body > .rightcol > div {
  display: flex;
  flex-direction: column;
  gap: var(--home-gap);
  background-color: white;
  /* border: 2px solid #dddddd; */
}

.body .news {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}

.body .news:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: calc(-1 * var(--home-gap) - 0.5px);
  left: 0;
  border-bottom: 1px solid var(--gray-accent);
}

.body .news .featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.body .opinion {
  /* background-color: #dddddd !important; */
}

.body .sports {
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
}

.body .sports:after {
  content: '';
  height: 100%;
  position: absolute;
  right: calc(-1 * var(--home-gap) - 0.5px);
  bottom: 0;
  border-left: 1px solid var(--gray-accent);
}

.body .ae {
  grid-column-start: 2;
  grid-column-end: 3;
}

.body .fc {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}

.body .fc:before {
  content: '';
  width: 100%;
  position: absolute;
  top: calc(-1 * var(--home-gap) - 0.5px);
  left: 0;
  border-bottom: 1px solid var(--gray-accent);
}