.menu {
    border: black solid;
    /* border-width: 1px 0 1px 0; */
    border-width: 0 0 1px 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    /* padding: 10px 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.menu ul {
    position: absolute; /* Remove the <ul> from the document flow */
    left: 50%;
    transform: translateX(-50%);
    display: flex; /* Flexbox for the links inside the <ul> */
    gap: 1rem; /* Spacing between links */
    list-style: none; /* Remove list styling */
    margin: 0;
    padding: 0;
    white-space: nowrap; /* Prevent wrapping */
    background-color: white;
    z-index: 2;
}

.menu a {
    cursor: pointer;
}

.banner {
    margin: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--cormorant-garamond);
    z-index: 10;
    position: relative;
    width: 100%;
}

.linkscontainer {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    left: -100%;
    z-index: 10;
    background-color: white;
    transition: 0.1s;
}



.linkscontainer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 2rem;
    margin: 0;
    /* background-color: white; */
    width: 100%;
}

.visible {
    width: fit-content;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown:active .dropdownlinks {
    visibility: visible;
    display: inline-block;
}

.dropdown > a {
    padding-bottom: 11px;
    bottom: -11px;
}

.dropdownlinks:hover .dropdownlinks {
    visibility: visible;
    display: inline-block;
}

.dropdownlinks {
    visibility: hidden;
    position: absolute;
    left: -10px;
    margin-top: calc(1.25 * 1.1rem + 11px);
    line-height: 1.6;
    z-index: -2;
    padding: 5px 10px;
    background-color: white;
}

.dropdownlinks a {
    display: block;
}

.hamburger {
    width: 20px;
    height: 20px;
    /* position: absolute; */
    /* top: 20px; */
    /* right: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
    background-color: white;
    border: none;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black;
}

.close {
    height: 20px;
}