.container {
    width: 100%;
    align-self: center;
    padding: 0 3rem; /* Adjust as needed */
}

.title {
    font-size: 3em;
    font-weight: 400;
}

.largetop {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.4rem;
}

.largetop .editors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}

.largetop .title {
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    padding-right: 1rem;
    border-right: solid 1px #000;
}

.smalltop {
    margin-bottom: 1rem;
}

.smalltop .title {
    text-align: center;
}


.articles {
    width: 100%;
}

@media screen and (max-width: 1025px) {
    .container {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 700px) {
    .container {
        padding: 0 1rem;
    }

    .title {
        font-size: 2em;
        margin-bottom: 1rem;
    }
}