.container {
    width: 100%;
    max-width: 750px;
    align-self: center;
}

.articles {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 20px;
    justify-content: center;
}