.container {
    width: 100%;
    align-self: center;
    padding: 0 3rem; /* Adjust as needed */
}

.name {
    font-size: 1.8em;
    font-weight: 400;
    display: flex;
}

.position {
    font-style: italic;
    font-size: 1.2em;
    font-weight: 400;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 1025px) {
    .container {
        padding: 0 2rem;
    }

    .articles {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .container {
        padding: 0 1rem;
    }

    .articles {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 2em;
        margin-bottom: 1rem;
    }
}